{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'dashboardnavbar.html' %}
<div class="row">
    <div class="col-lg-12" >
        <div class="section-tittle text-center">
            <div class="w3-container" ><br><br><br>
                <div class="w3-twothird" >
                    <div class="w3-container w3-card w3-white w3-margin-bottom " style="margin-left: 220px; width: 100%"> <br><br>
  
                        <img src="{{ data.foto.url }}" lass="founder-img mb-30" >
                        
                      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Portofolio</h2>
                      <div class="w3-container">
                          
                        <h5 class="w3-opacity"><b>Nama Lengkap</b></h5>
                        <h4>{{data.nama}}</h4>
                        <hr>
                      </div>
                      <div class="w3-container">
                        <h5 class="w3-opacity"><b>Nomer Aktif</b></h5>
                        <H4>{{data.nohp}}</H4>
                        <hr>
                      </div>
                      <div class="w3-container">
                        <h5 class="w3-opacity"><b>Alamat </b></h5>
                        <h4>{{data.alamat}}</h4>
                      </div>
                      <hr>
                      <div class="w3-container">
                        <h5 class="w3-opacity"><b>Jenis Kelamin </b></h5>
                        <h4>{{data.kelamin}}</h4>
                      </div>
                      <hr>
                      <div class="w3-container">
                        <h5 class="w3-opacity"><b>Usia </b></h5>
                        <h4>{{data.usia}}</h4>
                      </div>
                      <hr>
                      <div class="w3-container">
                        <h5 class="w3-opacity"><b>Biaya</b></h5>
                        <h4>{{data.biaya}}</h4>
                      </div>
                    </div>
            </div>
          </div>               
    </div>
</div>
{% endblock %}