{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Preloader Start -->
{% include 'customernavbar.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <div class="our-services" style="margin-top: 50px;">
    <body class="w3-light-grey" >
        <div class="w3-content w3-margin-top" style="max-width:1400px; margin-left: 28%;">
            <div class="w3-row-padding">                         
              <div class="w3-twothird">
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                  <h2 style="text-align: center;">PROFIL</h2>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Nama Lengkap</b></h5>
                    <h4>{{profil.nama}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Nomer Aktif</b></h5>
                    <h4>{{profil.nohp}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>pendidikan</b></h5>
                    <h4>{{profil.pendidikan}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>Jenis Kelamin</b></h5>
                    <h4>{{profil.kelamin}}</h4>
                    <hr>
                  </div>
                  <div class="w3-container">
                    <h5 class="w3-opacity"><b>alamat</b></h5>
                    <h4>{{profil.alamat}}</h4>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- End Page Container -->
          </div>
        

{% endblock %}